<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap.1.1/dist/js/bootstrap.min.js"></script>
    <title>Portfolio</title>
</head>
<body>
    <!-- Starting Frame -->
    <div class="frame">
        <div class="main_frame">
            <div class="left_frame">

                <!-- Image -->
                <div class="left_1">
                    <div class="left_1_1">
                        <img src="images/Profile.PNG" 
                        width="130px"
                        height="120px"
                        alt="rasm"
                        />
                    </div>
                    <div class="left_1_2"> <%=user.name%></div>         
                    <div class="left_1_3"> <%=user.profession%></div>
                    <!-- Image end -->


                    <!-- Icons -->

                    <div class="left_icons">
                        <a class="link_href" href="">
                            <div class="icon">
                                <img class="icon_1" src="icon/facebook.svg" alt="">
                            </div>
                        </a>

                        <a class="link_href" href="">
                            <div class="icon">
                                <img class="icon_1" src="icon/instagram.svg" alt="">
                            </div>
                        </a>

                        <a class="link_href" href="">
                            <div class="icon">
                                <img class="icon_1" src="icon/twitter.svg" alt="">
                            </div>
                        </a>

                        <a class="link_href" href="">
                            <div class="icon">
                                <img class="icon_1" src="icon/linkedin.svg" alt="">
                            </div>
                        </a>

                        <a class="link_href" href="">
                            <div class="icon">
                                <img class="icon_1" src="icon/youtube.svg" alt="">
                            </div>
                        </a>

                        <a class="link_href" href="">
                            <div class="icon">
                                <img class="icon_1" src="icon/dribbble.svg" alt="">
                            </div>
                        </a>
                    </div>
                </div>
                <!-- Icons end -->

                <!-- start -->
                <div class="marginer"></div>
                <div class="left_2">
                    <div class="left_2_1">
                       <span class="user_mal">Age:</span>
                       <span class="user_mal">Residance:</span>
                       <span class="user_mal">Frelance:</span>
                       <span class="user_mal">Address:</span>
                    </div>         
                    
                    <div class="foo">
                        <span class="user_yosh"><%=user.age%></span>
                        <span class="user_yosh"><%=user.residance%></span>
                        <span style="color: #7EB942;" class="user_yosh"><%=user.frelance%></span>
                        <span class="user_yosh"><%=user.address%></span>
                    </div>
                </div>
                <!-- end -->

                <!-- start -->
                <div class="marginer"></div>
                <span style="margin-left: 30px;">Languages</span>
                <div class="left_3">
                        <div class="languages">
                            <p>Uzbek</p>
                                 <img style="width: 190px;" src="icon/line-1.svg" alt="">
                            <p>Korean</p>
                                <img style="width: 190px;" src="icon/line-2.svg" alt="">
                            <p>English</p>
                                <img style="width: 190px;" src="icon/line-3.svg" alt="">
                        </div>

                        <div class="foiz">
                            <p>100%</p>
                            <p>80%</p>
                            <p>60%</p>
                        </div>
                </div>
                <div class="marginer"></div>
                <h5 style="margin-left: 30px;">Skills</h5>
                <div class="left_4">
                   <div class="skil">
                        <p class="skil-lan">Html</p>
                          <img style="width: 190px;" src="icon/line_1.svg" alt="">
                        <p class="skil-lan">Css</p>
                          <img style="width: 190px;" src="icon/line_2.svg" alt="">
                        <p class="skil-lan">Js</p>
                          <img style="width: 190px;" src="icon/line_3.svg" alt="">
                        <p class="skil-lan">Python</p>
                          <img style="width: 190px;" src="icon/line_4.svg" alt="">
                        <p class="skil-lan">PHP</p>
                          <img style="width: 190px;" src="icon/line_5.svg" alt="">

                   </div>
                   <div class="skil-per">
                        <p>90%</p>
                        <p>85%</p>
                        <p>80%</p>
                        <p>75%</p>
                        <p>85%</p>
                   </div>
                </div>
                <div class="marginer"></div>
                <h5 style="margin-left: 30px;">Extra Skills</h5>
                <div class="left_5">
                    <div class="Extra-skil-wrap">
                        <img class="icons-skil" src="icon/icons.svg" alt="">
                        <img class="icons-skil" src="icon/icons.svg" alt="">
                        <img class="icons-skil" src="icon/icons.svg" alt="">
                        <img class="icons-skil" src="icon/icons.svg" alt="">
                    </div>
                    <div class="Extra-desc">
                        <p class="Extra-info">Bootstrap,Materialize</p>
                        <p class="Extra-info">Stylus, Sass, Css</p>
                        <p class="Extra-info">Gulp, Webpack,Grunt</p>
                        <p class="Extra-info">GIT Knowledge</p>
                    </div>
                </div>
            </div>
            <!-- End left frame-->


            <!-- Start midd frame-->

            <div class="midd_frame">

                <div class="mid-start-box">
                    <div class="mid-left">
                        <div class="mid-start-1">
                           <p> Doctor neurologists in OHSU Hospital </p>
                        </div>
                        <div class="mid-start-2">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, volutpat feugiat placerat lobortis. Natoque rutrum semper sed suspendisse nunc lectus.</p>
                        </div>
                        <a href="">
                            <button class="btn">HIRE ME</button>
                        </a>
                    </div>

                    <div class="mid-right">
                        <img class="mid-right-img" src="icon/mid.PNG" alt="">
                    </div>
                </div>

                <!--  -->

                <div class="mid-mid">
                    <div class="mid-header">
                        <p>My services</p>
                    </div>
                    <div class="mid-disckription">
                        <p class="decription">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. lorem ipsum</p>
                    </div>
                </div>

                <!--  -->

                <div class="mid-end">
                    <div class="box-1">
                        <img src="icon/coding.svg" alt="">
                        <!-- for mid box  icon -->
                        <p class="mid-box-par1">Web development</p>
                        <p class="mid-box-paragraph">Blog, e-commerce</p>
                    </div>
                    <div class="box-2">
                        <img src="icon/illustration.svg" alt="">
                        <!-- for mid box  icon -->
                        <p class="mid-box-par1">UI/UX Design</p>
                        <p class="mid-box-paragraph">Mobile App, Website Design</p>
                    </div>
                    <div class="box-3">
                        <img src="icon/microphon.svg" alt="">
                        <!-- for mid box  icon -->
                        <p class="mid-box-par1">Sound Design</p>
                        <p class="mid-box-paragraph">Voice Over, Beat Making</p>
                    </div>
                    <div class="box-4">
                        <img src="icon/game.svg" alt="">
                         <!-- for mid box  icon -->
                         <p class="mid-box-par1">Game Disign</p>
                         <p class="mid-box-paragraph">Character Design, Props & Objects</p>
                    </div>
                    <div class="box-5">
                        <img src="icon/photograph.svg" alt="">
                         <!-- for mid box  icon -->
                         <p class="mid-box-par1">Photogrphy</p>
                         <p class="mid-box-paragraph">Portrait, Product Photography</p>
                    </div>
                    <div class="box-6">
                         <!-- for mid box  icon -->
                         <p class="mid-box-par1">Advertising</p>
                         <p class="mid-box-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae nulla diam in ac dictum a urna viverra morbi.</p>
                    </div>
                </div>
            </div>

            <!-- Mid frame end -->

            <!-- Strat right frame -->
            <div class="right_frame">
                <div class="right-icon1">
                    <a href="">
                        <i class="fa fa-adjust" style="font-size:24px"></i>
                    </a>
                </div>
                <div class="right-icon2">
                    <a href="">
                        <i class="fa fa-home" style="font-size:24px" id="home-icon"></i>
                    </a>
                    <a href="">
                        <i class="fa fa-file-code-o" style="font-size:24px" id="home-icon2"></i>
                    </a>
                    <a href="">
                        <i class="fa fa-graduation-cap" style="font-size:24px" id="home-icon3"></i>
                    </a>
                    <a href="">
                        <i class="fa fa-briefcase" style="font-size:24px" id="home-icon4"></i>
                    </a>
                    <a href="">
                        <i class="fa fa-square-o" style="font-size:24px" id="home-icon5"></i>
                    </a>
                    <a href="">
                        <i class="fa fa-address-book-o" style="font-size:24px" id="home-icon6"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Ending Frame -->
</body>
</html>